*{
    margin:0;
    padding:0;
}

.outer-container{
    background-color: rgb(218, 218, 218);
    height: 100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position:relative;
    width:40vw;
    height: 40vw;
    background: url('clock.png')no-repeat center center;
    background-size: 100%;
    margin:auto;
}
#hour,#minute,#second{
    position: absolute;
    transform-origin: bottom;
}
#hour{
    top: 10vw;
    left: 19.6vw;
    width: 0.6vw;
    height: 10vw;
    background-color: black;
    /* display: none; */
    
}
#minute{
    top: 7vw;
    left: 19.7vw;
    width: 0.5vw;
    height: 13vw;
    background-color: grey;
    /* display: none; */
}
#second{
    top: 5vw;
    left: 19.8vw;
    width: 0.4vw;
    height: 15vw;
    background-color: red;
    /* display: none; */
}